input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  display: flex;
  width: 98px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.navbar-brand a {
  font-size: 20px;
  font-weight: 600;
  font-stretch: condensed;
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right .navbar-links {
  display: flex;
}

.navbar-right .navbar-link {
  list-style: none;
  margin-left: 25px;
}

.navbar-right .navbar-link a {
  text-decoration: none;
  color: #000;
  transition: 0.2s ease-in;
}

.navbar-right .navbar-link a:hover {
  color: tomato;
}

.navbar-right .navbar-login {
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.navbar-right .navbar-login i {
  font-size: 25px;
  margin-right: 15px;
  cursor: pointer;
}

.navbar-right .navbar-login span {
  margin-right: 25px;
  cursor: pointer;
}

.navbar-right .navbar-login a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.navbar-right .navbar-login a:hover {
  color: var(--main-color);
}

.navbar-right .navbar-cart {
  position: relative;
  font-size: 20px;
  padding: 0 15px;
  cursor: pointer;
}

.value-cart {
  position: absolute;
  top: -7px;
  right: 4px;
  color: #000;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
